In [2]:
import pandas as pd

data = {
    "Usuario": ["Enrique Gonzalez", "Miguel Santisteban", "Guillermo González-Alloza", "Esteban Gil"],
    "Fecha": ["30-08-2023", "24-09-2023", "31-10-2023", "28-08-2023"],
    "Pais": ["España", "Francia", "Italia","Polonia"],
    "Categoría de compra": ["Deportes", "Ropa", "Videojuegos","Libros"],
    "Valoracion": ["5","3","4","2"]
}

df = pd.DataFrame(data)

print(df)

                     Usuario       Fecha     Pais Categoría de compra  \
0           Enrique Gonzalez  30-08-2023   España            Deportes
1         Miguel Santisteban  24-09-2023  Francia                Ropa
2  Guillermo González-Alloza  31-10-2023   Italia         Videojuegos
3                Esteban Gil  28-08-2023  Polonia              Libros

  Valoracion
0          5
1          3
2          4
3          2

In [5]:
Transcciones_Usuarios = pd.DataFrame({"Producto_ID":["01","02","03","01","02","03"],
                        "Usuario":["Enrique Gonzalez", "Miguel Santisteban", "Guillermo González-Alloza","Miguel Santisteban", "Guillermo González-Alloza","Enrique Gonzalez"],
                        "Accion":["Venta","Venta","Venta","Compra","Compra","Compra"]})

In [7]:
Pais = pd.DataFrame({"Usuario":["Enrique Gonzalez", "Miguel Santisteban", "Guillermo González-Alloza"],
                           "Pais": ["España","Italia","Francia"]})
Fecha_de_transaccion = pd.DataFrame({"Producto_ID":["01","02","03"],
                                     "Fecha": ["30-08-2023", "24-09-2023", "31-10-2023"]})
Producto = pd.DataFrame({"Producto_ID":["01","02","03"],"Categoría de compra": ["Deportes", "Ropa", "Videojuegos"],
    "Valoracion": ["5","3","4"]})

In [11]:
a = pd.merge(Transcciones_Usuarios, Pais, on="Usuario", how='left')
b = pd.merge(a, Fecha_de_transaccion,on="Producto_ID", how='left')
Una_Tabla= pd.merge(b, Producto,on="Producto_ID", how='left')
Una_Tabla = Una_Tabla.sort_values(by='Producto_ID')

In [12]:
Transcciones_Usuarios
Pais
Fecha_de_transaccion
Producto
Una_Tabla

,Producto_ID,Usuario,Accion,Pais,Fecha,Categoría de compra,Valoracion
0,01,Enrique Gonzalez,Venta,España,30-08-2023,Deportes,5
3,01,Miguel Santisteban,Compra,Italia,30-08-2023,Deportes,5
1,02,Miguel Santisteban,Venta,Italia,24-09-2023,Ropa,3
4,02,Guillermo González-Alloza,Compra,Francia,24-09-2023,Ropa,3
2,03,Guillermo González-Alloza,Venta,Francia,31-10-2023,Videojuegos,4
5,03,Enrique Gonzalez,Compra,España,31-10-2023,Videojuegos,4